:root {
  --color-black: #111517;
  --color-white: #FFFFFF;
  --color-gray-anthracite: #253a45;
  --color-gray: #5c686d;
  --color-gray2: #4E585E;
  --color-gray3: #555D65;
  --color-gray-light: #E7ECEF;
  --color-turquoise: #1f6c94;

  --color-yellow: #FFBF00;

  --color-gradient-blue1: linear-gradient(180deg, #1F6C94 0%, rgba(217, 217, 217, 0) 100%);
  --color-gradient-blue2: linear-gradient(360deg, #1F6C94 0%, rgba(196, 196, 196, 0.65) 116.67%);
}
